/* ##########################  General Start ################### */
.equipo-editorial{
   font-family: sans-serif;
   color: #727272;
   float: left;
   width: 100%;
}
.ee-info {
   display: inline-block;
   line-height: 1.4;
   padding: 11px 15px;
   font-size: 14px;
   margin: 10px 20px 30px 2px;
   border-left-color: #ffb900 !important;
   background: #fff;
   border: 1px solid #ccd0d4;
   border-left-width: 4px;
   box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.ee-info ul li {
   padding-bottom: 15px
}

.ee-info ul li ul li {
   padding-bottom: 0
}

.ee-info ul li:last-child {
   padding-bottom: 0
}

.ee-info ul li ul li:first-child {
   padding-top: 8px
}

.ee-info input {
   max-width: 90px;
}

.copy {
   padding-left: 10px;
   color: #016087
}

/* ##########################  General End ################### */

/* ##########################  Tabla Start ################### */
.equipo-editorial-table{
   border: 1px solid #ccc;
   padding: 0;
   margin: auto;
   background: #fff;
   border-spacing: 0;
   border-collapse: collapse;
   color: #272727;
   width: calc(80% - 10px);
}
.equipo-editorial-table tr:first-child td{
   border-bottom: 2px solid #ccc;
   padding: 10px 8px;
   font-weight: bold;
}
.equipo-editorial-table tr:not(first-child) td{
   border-bottom: 1px solid #ccc;
   padding: 8px 8px;
}
.equipo-editorial-table tr:hover{
   background: #efefed;
}
.equipo-editorial-table tr:first-child:hover{
   background: #fff;
}
/* ##########################  Tabla End ################### */

/* ##########################  Buttons Start ################### */
.equipo-editorial-btn-default, .equipo-editorial-btn-icon, .equipo-editorial-btn-primary, .equipo-editorial-btn-success, .equipo-editorial-btn-danger, .equipo-editorial-btn-multi{
   font-family: sans-serif;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 14px;
   padding: 8px 10px;
   border-radius: 3px;
   cursor: pointer;
   text-decoration: none;
}
.equipo-editorial-btn-multi{
   border-radius: 0;
   background-color: #5cb85c;
   float: left;
}
.equipo-editorial-btn-default{
   border: 1px solid #ccc;
   background: #FFF;
   color: #000;
   padding: 5px 10px;
}
.equipo-editorial-btn-icon{
   padding: 0;
   width: 35px;
   height: 35px;
   line-height: 35px;
}
.equipo-editorial-btn-primary{
   background-color: #2e6da4;
}
.equipo-editorial-btn-success{
   background-color: #5cb85c;
}
.equipo-editorial-btn-danger{
   background-color: #d9534f;
}
.equipo-editorial-btn-danger.sm{
   padding: 5px 10px !important;
}
.equipo-editorial-btn-success:hover, .equipo-editorial-btn-multi.active, .equipo-editorial-btn-multi:hover{
   background-color: #4e994e;
   color: #FFF;
}
.equipo-editorial-btn-primary:hover{
   background-color: #24537c;
}
.equipo-editorial-btn-danger:hover{
   background-color: #d63a35;
}
.equipo-editorial-btn-default:hover{
   background-color: #eee;
}
.equipo-editorial-margin-right-10{
   margin-right: 10px;
}
.equipo-editorial-pull-right{
   float: right;
}
/* ##########################  Buttons End ################### */

/* ##########################  Modal Start ################### */
.equipo-editorial-modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 9999; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* equipo-editorial-modal Content */
.equipo-editorial-modal, #equipo-editorial-loading {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 9999; /* Sit on top */
   padding-top: 50px; /* Location of the box */
   padding-bottom: 50px;
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: calc(100% - 100px); /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* equipo-editorial-modal Content */
.equipo-editorial-modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 75%;
   padding: 10px 0 0;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 5px;
   -webkit-animation-duration: 0.4s;
   animation-duration: 0.4s
}
.equipo-editorial-modal-content.equipo-editorial-modal-sm{
   max-width: 400px;
}
.equipo-editorial-modal-content.equipo-editorial-modal-md{
   max-width: 700px;
}
/* Add Animation */
@-webkit-keyframes equipo-editorial-animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}
@keyframes equipo-editorial-animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}

@keyframes equipo-editorial-animatebottom {
   from {bottom:-300px; opacity:0}
   to {bottom:0; opacity:1}
}

@-webkit-keyframes equipo-editorial-animatebottom {
   from {bottom:-300px; opacity:0}
   to {bottom:0; opacity:1}
}

@keyframes equipo-editorial-animateleft {
   from {left:-300px; opacity:0}
   to {left:0; opacity:1}
}

@-webkit-keyframes equipo-editorial-animateleft {
   from {left:-300px; opacity:0}
   to {left:0; opacity:1}
}

@keyframes equipo-editorial-animateright {
   from {right:-300px; opacity:0}
   to {right:0; opacity:1}
}

@-webkit-keyframes equipo-editorial-animateright {
   from {right:-300px; opacity:0}
   to {right:0; opacity:1}
}
/* The Close Button */
.equipo-editorial-close, .equipo-editorial-icon-close {
   color: #000;
   float: right;
   font-size: 18px;
   font-weight: bold;
   line-height: 18px;
   padding: 0;
   margin: 0;
}

.equipo-editorial-close:hover,
.equipo-editorial-close:focus, 
.equipo-editorial-icon-close:hover,
.equipo-editorial-icon-close:focus {
   color: #878787;
   text-decoration: none;
   cursor: pointer;
}
.equipo-editorial-modal-header{
   width: calc(100% - 40px);
   border-bottom: 1px solid #ccc;
   font-size: 18px;
   line-height: 30px;
   padding: 0 20px 10px;
   height: 30px;
   font-weight: 600;
   float: left;
}
.equipo-editorial-modal-form-footer{
   width: calc(100% - 30px);
   padding: 10px 15px;
   border-top: 1px solid #ccc;
   float: left;
}
.equipo-editorial-modal-body-form{
   width: calc(100% - 10px);
   padding: 10px 5px;
   float: left;
}

.equipo-editorial-modal-body-picture {float: left; width: 300px; padding-right: 15px;}
.equipo-editorial-modal-body-content{
   width: calc(100% - 315px);
   float: left;

}
.equipo-editorial-modal-body-picture img{
   width: calc(100% - 12px);
   height: auto;
   border: 1px solid #ccc;
   padding: 5px;
}
#equipo-editorial-modal-designation{
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 300;
}
#equipo-editorial-modal-name{
   text-transform: capitalize;
   font-size: 30px;
   line-height: 30px;
   margin: 5px 0 25px;
   font-weight: 300;
   color: #111;
}
#equipo-editorial-modal-details{
   font-size: 14px;
   line-height: 20px;
}
#equipo-editorial-modal-info p{
   border-bottom: 1px dotted #ccc;
   line-height: 35px;
   padding: 0;
   margin: 0;
   float: left;
   display: block;
   width: 100%;
   font-size: 13px;
   color: #434343;
}
#equipo-editorial-modal-info p span{
   font-weight: 600;

}
#equipo-editorial-modal-info p:last-of-type{
   border: none;
   margin-bottom: 15px;
}

#equipo-editorial-modal-social i{
   color: #272727;
   width: 40px;
   height: 40px;
   line-height: 40px;
   float:  left;
   margin: 15px 15px 0 0;
   font-size: 18px;
   border: 1px solid #272727;
   text-align: center;
   cursor: pointer;
   -webkit-transition: all 0.5s ease 0s;
   -moz-transition: all 0.5s ease 0s;
   -ms-transition: all 0.5s ease 0s;
   -o-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}
#equipo-editorial-modal-social i:hover{
   color: #FFF;
   background: #727272;
}

.equipo-editorial-modal-footer {
   padding: 2px 16px;
   color: white;
}
br.equipo-editorial-clear{
   clear: both;
}
#equipo-editorial-loading{
   padding-top: 170px; /* Location of the box */
   text-align: center;
   background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
#equipo-editorial-loading img{
   border-radius: 50%;
   width: 200px;
   height: 200px;
}

.equipo-editorial-form-label{
   font-family: sans-serif;
   font-size: 14px;
   font-weight: 600;
}
.equipo-editorial-form-input{
   outline: none;
   border: 1px solid #eee;
   padding: 5px;
   border-radius: 3px;
   min-width: 200px;
   font-size: 13px !important;
   font-weight: 100 !important;
   color: #272727 !important;
   float: left;
   height: 30px;
}
.equipo-editorial-form-input.lg{
   min-width: 300px;
}

/* ##########################  Modal End ################### */